html {
  background-color: #e2e2e2;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 100%;
  min-width: 320px;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::before,
*::after { box-sizing: inherit; }

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.main {
  height: 100%;
  text-align: center;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em 0;
  width: 80%;
}

.header-text-image {
  margin: 0 auto;
  width: 100%
}

.title {
  font-family: 'Monoton', cursive;
  font-size: 2.5em;
  text-align: center;
  font-weight: 100;
}

.subtitle {
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  text-align: right;
}

.cursor {
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  0%, 100% { color: transparent;}
  50% {color: initial;}
}

.btn {
  background-color: #333333;
  border: 1px solid #333333;
  border-radius: 5px;
  color: #e3e3e3;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  font-size: 1.25em;
  justify-content: center;
  padding: .25em .5em;
  transition: all .2s ease-in-out;
}

.btn:focus {
  outline: none;
}

section {
  padding: 1em;
}

form {
  margin: 0 auto;
}

.form-unit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: .5em;
  text-align: left;
}

.form-unit label {
  font-size: 1em;
  margin-bottom: .5em;
}

.form-unit input,
.form-unit textarea {
  border: none;
  border-radius: 5px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.25em;
  padding: .5em;
}

.form-unit textarea {
  resize: vertical;
}

.form-unit button {
  font-size: 1.25em;
  padding: .5em;
}

@media (min-width: 600px) {
  form { width: 75%; }

  .btn:hover {
    background-color: #e2e2e2;
    color: #333333;
  }

  .title { font-size: 5em; }

  .subtitle { font-size: 1.5em; }
}

@media (min-width: 1024px) {
  form { width: 30%; }

  .title { font-size: 8.5em; }

  .subtitle { font-size: 2.2em; }

  .btn { font-size: 1.5em };
}